<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Investimentos</title>

    <style>
      <%= css %>
    </style>
  </head>
  <body>
    <div class="tabs">
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-dashboard" checked class="tab-switch">
        <label for="tab-dashboard" class="tab-label">Carteira</label>

        <div class="tab-content">
          Carteira
        </div>
      </div>

      <% year_range.to_a.reverse.each do |year| %>
        <div class="tab">
          <input type="radio" name="css-tabs" id="tab-<%= year %>" class="tab-switch">
          <label for="tab-<%= year %>" class="tab-label"><%= year %></label>

          <div class="tab-content">
            <table class="history">
              <thead>
                <tr>
                  <th>Ativo</th>
                  <th></th>
                  <th>Jan</th>
                  <th>Fev</th>
                  <th>Mar</th>
                  <th>Abr</th>
                  <th>Mai</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Ago</th>
                  <th>Set</th>
                  <th>Out</th>
                  <th>Nov</th>
                  <th>Dez</th>
                  <th><%= year %></th>
                  <th>Acumulado/Média</th>
                </tr>
              </thead>
              <tbody>
                <% categories(year).each do |category, assets| %>
                  <% assets.each do |asset| %>
                    <tr class="applications">
                      <td rowspan="5" class="asset"><%= asset %></td>
                      <td>Aporte</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_input(asset, year, month) %></td>
                      <% end %>
                      <td><%= money asset_year_input(asset, year) %></td>
                      <td></td>
                    </tr>

                    <tr class="balance">
                      <td>Valor Final</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_balance(asset, year, month) %></td>
                      <% end %>
                      <td><%= money asset_year_balance(asset, year) %></td>
                      <td></td>
                    </tr>

                    <tr class="profit">
                      <td>Renda</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_profit(asset, year, month) %></td>
                      <% end %>
                      <td><%= money asset_year_profit(asset, year) %></td>
                      <td></td>
                    </tr>

                    <tr class="profitability">
                      <td>Rentabilidade</td>
                      <% (1..12).each do |month| %>
                        <td><%= percent asset_month_profitability(asset, year, month) %></td>
                      <% end %>
                      <td><%= percent asset_year_profitability(asset, year) %></td>
                      <td></td>
                    </tr>

                    <tr class="weight">
                      <td>Peso</td>
                      <% (1..12).each do |month| %>
                        <td></td>
                      <% end %>
                      <td></td>
                      <td></td>
                    </tr>
                  <% end %>

                  <!-- Categories -->
                  <tr class="applications">
                    <td rowspan="5" class="category"><%= category %></td>
                    <td>Aporte</td>
                    <% (1..12).each do |month| %>
                      <td><%= money category_month_input(category, year, month) %></td>
                    <% end %>
                    <td><%= money category_year_input(category, year) %></td>
                    <td></td>
                  </tr>

                  <tr class="balance">
                    <td>Valor Final</td>
                    <% (1..12).each do |month| %>
                      <td><%= money category_month_balance(category, year, month) %></td>
                    <% end %>
                    <td><%= money category_year_balance(category, year) %></td>
                    <td></td>
                  </tr>

                  <tr class="profit">
                    <td>Renda</td>
                    <% (1..12).each do |month| %>
                      <td><%= money category_month_profit(category, year, month) %></td>
                    <% end %>
                    <td><%= money category_year_profit(category, year) %></td>
                    <td></td>
                  </tr>

                  <tr class="profitability">
                    <td>Rentabilidade</td>
                    <% (1..12).each do |month| %>
                      <td><%= percent category_month_profitability(category, year, month) %></td>
                    <% end %>
                    <td><%= percent category_year_profitability(category, year) %></td>
                    <td></td>
                  </tr>

                  <tr class="weight">
                    <td>Peso</td>
                    <% (1..12).each do |month| %>
                      <td></td>
                    <% end %>
                    <td></td>
                    <td></td>
                  </tr>

                  <tr class="spacer">
                    <td colspan="16"></td>
                  </tr>
                <% end %>

                <!-- Totals -->
                <tr class="applications">
                  <td rowspan="5" class="total">Total</td>
                  <td>Aporte</td>
                  <% (1..12).each do |month| %>
                    <td><%= money total_month_input(year, month) %></td>
                  <% end %>
                  <td><%= money total_year_input(year) %></td>
                  <td></td>
                </tr>

                <tr class="balance">
                  <td>Valor Final</td>
                  <% (1..12).each do |month| %>
                    <td><%= money total_month_balance(year, month) %></td>
                  <% end %>
                  <td><%= money total_year_balance(year) %></td>
                  <td></td>
                </tr>

                <tr class="profit">
                  <td>Renda</td>
                  <% (1..12).each do |month| %>
                    <td><%= money total_month_profit(year, month) %></td>
                  <% end %>
                  <td><%= money total_year_profit(year) %></td>
                  <td></td>
                </tr>

                <tr class="profitability">
                  <td>Rentabilidade</td>
                  <% (1..12).each do |month| %>
                    <td><%= percent total_month_profitability(year, month) %></td>
                  <% end %>
                  <td><%= percent total_year_profitability(year) %></td>
                  <td></td>
                </tr>

                <tr class="weight">
                  <td>Peso</td>
                  <% (1..12).each do |month| %>
                    <td></td>
                  <% end %>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
