<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Investimentos</title>

    <style>
      <%= css %>
    </style>
  </head>
  <body>
    <div class="tabs">
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-dashboard" checked class="tab-switch">
        <label for="tab-dashboard" class="tab-label">Carteira</label>

        <div class="tab-content">
          <% year = year_range.last %>

          <table class="portfolio">
            <thead>
              <tr>
                <th>Ativo</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Rentabilidade</th>
                <th>Peso</th>
              </tr>
            </thead>
            <tbody>
              <% categories.sort_by { |category, assets| category_year_balance(category, year) }.reverse.each do |category, assets| %>
                <tr class="category">
                  <td><%= category %></td>
                  <td></td>
                  <td><%= money category_year_balance(category, year) %></td>
                  <td><%= percent category_total_profitability(category) %></td>
                  <td><%= percent category_year_weight(category, year), span: false %></td>
                </tr>

                <% assets.select { |asset| asset_year_balance(asset, year) > 0 }.sort_by { |asset| asset_year_balance(asset, year) }.reverse.each do |asset| %>
                  <% next unless asset_year_show?(asset, year) %>

                  <%
                    stock_class = if category == "Acoes"
                      if asset_is_in_ibovespa(asset)
                        "bluechip"
                      else
                        "smallcap"
                      end
                    end
                  %>

                  <tr class="asset <%= stock_class %>">
                    <td><%= asset %></td>
                    <td><%= number asset_year_quantity(asset, year) %></td>
                    <td><%= money asset_year_balance(asset, year) %></td>
                    <td><%= percent asset_total_profitability(asset) %></td>
                    <td><%= percent asset_year_weight(asset, year), span: false %></td>
                  </tr>
                <% end %>
              <% end %>
              <tr class="total">
                <td>Total</td>
                <td></td>
                <td><%= money total_year_balance(year) %></td>
                <td><%= percent total_profitability %></td>
                <td>100%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-ir" class="tab-switch">
        <label for="tab-ir" class="tab-label">IR</label>

        <div class="tab-content">
          <table class="history">
            <thead>
              <tr>
                <th>Mês/Ano</th>
                <th>Ativo</th>
                <th>Vendas</th>
                <th>Lucro/Prejuízo</th>
              </tr>
            </thead>
            <tbody>
              <% unless ir.empty? %>
                <% previous_month = ir.first[1] %>

                <% ir.each do |line| %>
                  <% if line[1] != previous_month %>
                    <% previous_month = line[1] %>
                    <tr class="spacer"><td colspan="5"></td></tr>
                  <% end %>

                  <tr>
                    <td><%= line[0] %>/<%= line[1] %></td>
                    <td><%= line[2] %></td>
                    <td><%= money line[3] %></td>
                    <td><%= money line[4] %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <% year_range.to_a.reverse.each do |year| %>
        <div class="tab">
          <input type="radio" name="css-tabs" id="tab-<%= year %>" class="tab-switch">
          <label for="tab-<%= year %>" class="tab-label"><%= year %></label>

          <div class="tab-content">
            <table class="history">
              <thead>
                <tr>
                  <th>Ativo</th>
                  <th></th>
                  <th>Jan</th>
                  <th>Fev</th>
                  <th>Mar</th>
                  <th>Abr</th>
                  <th>Mai</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Ago</th>
                  <th>Set</th>
                  <th>Out</th>
                  <th>Nov</th>
                  <th>Dez</th>
                  <th><%= year %></th>
                  <th>Acumulado/Média</th>
                </tr>
              </thead>
              <tbody>
                <% categories.each do |category, assets| %>
                  <!-- Categories -->
                  <% unless assets.empty? %>
                    <tr class="category applications">
                      <td rowspan="<%= category == 'Acoes' ? 6 : 5 %>" class="category"><%= category %></td>
                      <td>Aportes</td>
                      <% (1..12).each do |month| %>
                        <td><%= money category_month_input(category, year, month), span: false %></td>
                      <% end %>
                      <td><%= money category_year_input(category, year), span: false %></td>
                      <td></td>
                    </tr>

                    <tr class="category applications">
                      <td>Retiradas</td>
                      <% (1..12).each do |month| %>
                        <td><%= money category_month_output(category, year, month), span: false %></td>
                      <% end %>
                      <td><%= money category_year_output(category, year), span: false %></td>
                      <td></td>
                    </tr>

                    <tr class="category balance">
                      <td>Saldo</td>
                      <% (1..12).each do |month| %>
                        <td><%= money category_month_balance(category, year, month) %></td>
                      <% end %>
                      <td><%= money category_year_balance(category, year) %></td>
                      <td></td>
                    </tr>

                    <tr class="category profitability">
                      <td>Rentabilidade</td>
                      <% (1..12).each do |month| %>
                        <td><%= percent category_month_profitability(category, year, month) %></td>
                      <% end %>
                      <td><%= percent category_year_profitability(category, year) %></td>
                      <td><%= percent category_total_profitability(category, year) %></td>
                    </tr>

                    <% if category == 'Acoes' %>
                      <tr class="category index">
                        <td>IBOVESPA</td>
                        <% (1..12).each do |month| %>
                          <td><%= percent index_month_value("IBOVESPA", year, month) %></td>
                        <% end %>
                        <td><%= percent index_year_value("IBOVESPA", year) %></td>
                        <td></td>
                      </tr>
                    <% end %>

                    <tr class="category weight">
                      <td>Peso</td>
                      <% (1..12).each do |month| %>
                        <td><%= percent category_month_weight(category, year, month), span: false %></td>
                      <% end %>
                      <td></td>
                      <td></td>
                    </tr>
                  <% end %>

                  <% assets = assets.select { |asset| asset_year_show?(asset, year) } %>

                  <% assets.each do |asset| %>
                    <tr class="asset applications">
                      <td rowspan="8" class="asset"><%= asset %></td>
                      <td>Aportes</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_input(asset, year, month), span: false %></td>
                      <% end %>
                      <td><%= money asset_year_input(asset, year), span: false %></td>
                      <td></td>
                    </tr>

                    <tr class="asset applications">
                      <td>Retiradas</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_output(asset, year, month), span: false %></td>
                      <% end %>
                      <td><%= money asset_year_output(asset, year), span: false %></td>
                      <td></td>
                    </tr>

                    <tr class="asset purchase-price">
                      <td>R$ Médio/Mercado</td>
                      <% (1..12).each do |month| %>
                        <td>
                          <% if asset_month_show?(asset, year, month) %>
                            <%= money asset_month_average_purchase_price(asset, year, month), span: false %> / <%= money asset_month_price(asset, year, month), span: false %>
                          <% end %>
                        </td>
                      <% end %>
                      <td></td>
                      <td></td>
                    </tr>

                    <tr class="asset purchase-price">
                      <td>Quantidade</td>
                      <% (1..12).each do |month| %>
                        <td>
                          <% if asset_month_show?(asset, year, month) %>
                            <%= number asset_month_quantity(asset, year, month) %>
                          <% end %>
                        </td>
                      <% end %>
                      <td></td>
                      <td></td>
                    </tr>

                    <tr class="asset balance">
                      <td>Saldo Médio</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_purchase_balance(asset, year, month), span: false if asset_month_show?(asset, year, month) %></td>
                      <% end %>
                      <td></td>
                      <td></td>
                    </tr>

                    <tr class="asset balance">
                      <td>Saldo</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_balance(asset, year, month), span: false if asset_month_show?(asset, year, month) %></td>
                      <% end %>
                      <td><%= money asset_year_balance(asset, year) %></td>
                      <td></td>
                    </tr>

                    <tr class="asset profitability">
                      <td>Rentabilidade</td>
                      <% (1..12).each do |month| %>
                        <td><%= percent asset_month_profitability(asset, year, month) if asset_month_show?(asset, year, month) %></td>
                      <% end %>
                      <td><%= percent asset_year_profitability(asset, year) %></td>
                      <td><%= percent asset_total_profitability(asset, year) %></td>
                    </tr>

                    <tr class="asset weight">
                      <td>Peso</td>
                      <% (1..12).each do |month| %>
                        <td><%= percent asset_month_weight(asset, year, month), span: false %></td>
                      <% end %>
                      <td><%= percent asset_year_weight(asset, year), span: false %></td>
                      <td></td>
                    </tr>
                  <% end %>

                  <% unless assets.empty? %>
                    <tr class="spacer">
                      <td colspan="16"></td>
                    </tr>
                  <% end %>
                <% end %>

                <!-- Totals -->
                <tr class="total applications">
                  <td rowspan="6" class="total">Total</td>
                  <td>Aportes</td>
                  <% (1..12).each do |month| %>
                    <td><%= money total_month_input(year, month), span: false %></td>
                  <% end %>
                  <td><%= money total_year_input(year), span: false %></td>
                  <td></td>
                </tr>

                <tr class="total applications">
                  <td>Retiradas</td>
                  <% (1..12).each do |month| %>
                    <td><%= money total_month_output(year, month), span: false %></td>
                  <% end %>
                  <td><%= money total_year_output(year), span: false %></td>
                  <td></td>
                </tr>

                <tr class="total balance">
                  <td>Saldo</td>
                  <% (1..12).each do |month| %>
                    <td><%= money total_month_balance(year, month) %></td>
                  <% end %>
                  <td><%= money total_year_balance(year) %></td>
                  <td></td>
                </tr>

                <tr class="total profitability">
                  <td>Rentabilidade</td>
                  <% (1..12).each do |month| %>
                    <td><%= percent total_month_profitability(year, month) %></td>
                  <% end %>
                  <td><%= percent total_year_profitability(year) %></td>
                  <td><%= percent total_profitability(year) %></td>
                </tr>

                <tr class="total index">
                  <td>CDI</td>
                  <% (1..12).each do |month| %>
                    <td><%= percent index_month_value("CDI", year, month) %></td>
                  <% end %>
                  <td><%= percent index_year_value("CDI", year) %></td>
                  <td></td>
                </tr>

                <tr class="total index">
                  <td>Inflação</td>
                  <% (1..12).each do |month| %>
                    <td><%= percent index_month_value("IPCA", year, month) %></td>
                  <% end %>
                  <td><%= percent index_year_value("IPCA", year) %></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous">
    </script>

    <script>
      $(document).ready(function() {
        $(".portfolio thead tr").on("click", function(e) {
          $(".portfolio tr.asset").toggle()
        })

        $(".portfolio tr.category").on("click", function(e) {
          $(this).nextUntil("tr.category").toggle()
        })

        $(".history tr.category").on("click", function(e) {
          first_asset = $(this).nextAll("tr.asset:first")
          first_asset.nextUntil("tr.category").add(first_asset).not("tr.spacer, tr.total").toggle()
        })
      })
    </script>
  </body>
</html>
