<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Investimentos</title>

    <style>
      <%= css %>
    </style>
  </head>
  <body>
    <div class="tabs">
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-dashboard" checked class="tab-switch">
        <label for="tab-dashboard" class="tab-label">Carteira</label>

        <div class="tab-content">
          <% year = year_range.last %>

          <table class="portfolio">
            <thead>
              <tr>
                <th>Ativo</th>
                <th>Valor</th>
                <th>Rentabilidade</th>
                <th>Peso</th>
              </tr>
            </thead>
            <tbody>
              <% categories(year).sort_by { |category, assets| category_year_balance(category, year) }.reverse.each do |category, assets| %>
                <tr class="category">
                  <td><%= category %></td>
                  <td><%= money category_year_balance(category, year) %></td>
                  <td><%= percent category_total_profitability(category) %></td>
                  <td><%= percent category_year_weight(category, year), span: false %></td>
                </tr>

                <% assets.select { |asset| asset_year_balance(asset, year) > 0 }.sort_by { |asset| asset_year_balance(asset, year) }.reverse.each do |asset| %>
                  <tr class="asset">
                    <td><%= asset %></td>
                    <td><%= money asset_year_balance(asset, year) %></td>
                    <td><%= percent asset_total_profitability(asset) %></td>
                    <td><%= percent asset_year_weight(asset, year), span: false %></td>
                  </tr>
                <% end %>
              <% end %>
              <tr class="total">
                <td>Total</td>
                <td><%= money total_year_balance(year) %></td>
                <td><%= percent total_profitability %></td>
                <td>100%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <% year_range.to_a.reverse.each do |year| %>
        <div class="tab">
          <input type="radio" name="css-tabs" id="tab-<%= year %>" class="tab-switch">
          <label for="tab-<%= year %>" class="tab-label"><%= year %></label>

          <div class="tab-content">
            <table class="history">
              <thead>
                <tr>
                  <th>Ativo</th>
                  <th></th>
                  <th>Jan</th>
                  <th>Fev</th>
                  <th>Mar</th>
                  <th>Abr</th>
                  <th>Mai</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Ago</th>
                  <th>Set</th>
                  <th>Out</th>
                  <th>Nov</th>
                  <th>Dez</th>
                  <th><%= year %></th>
                  <th>Acumulado/Média</th>
                </tr>
              </thead>
              <tbody>
                <% categories(year).each do |category, assets| %>
                  <% assets.each do |asset| %>
                    <tr class="applications">
                      <td rowspan="6" class="asset"><%= asset %></td>
                      <td>Aportes</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_input(asset, year, month) %></td>
                      <% end %>
                      <td><%= money asset_year_input(asset, year) %></td>
                      <td><%= money asset_total_input(asset, year) %></td>
                    </tr>

                    <tr class="applications">
                      <td>Retiradas</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_output(asset, year, month) %></td>
                      <% end %>
                      <td><%= money asset_year_output(asset, year) %></td>
                      <td><%= money asset_total_output(asset, year) %></td>
                    </tr>

                    <tr class="purchase-price">
                      <td>R$ Médio/Mercado</td>
                      <% (1..12).each do |month| %>
                        <td>
                          <% if asset_month_show?(asset, year, month) %>
                            <%= money asset_month_average_purchase_price(asset, year, month), span: false %> / <%= money asset_month_price(asset, year, month), span: false %>
                          <% end %>
                        </td>
                      <% end %>
                      <td></td>
                      <td></td>
                    </tr>

                    <tr class="balance">
                      <td>Saldo</td>
                      <% (1..12).each do |month| %>
                        <td><%= money asset_month_balance(asset, year, month), span: false if asset_month_show?(asset, year, month) %></td>
                      <% end %>
                      <td><%= money asset_year_balance(asset, year) %></td>
                      <td></td>
                    </tr>

                    <tr class="profitability">
                      <td>Rentabilidade</td>
                      <% (1..12).each do |month| %>
                        <td><%= percent asset_month_profitability(asset, year, month) if asset_month_show?(asset, year, month) %></td>
                      <% end %>
                      <td><%= percent asset_year_profitability(asset, year) %></td>
                      <td><%= percent asset_total_profitability(asset, year) %></td>
                    </tr>

                    <tr class="weight">
                      <td>Peso</td>
                      <% (1..12).each do |month| %>
                        <td><%= percent asset_month_weight(asset, year, month), span: false %></td>
                      <% end %>
                      <td><%= percent asset_year_weight(asset, year), span: false %></td>
                      <td></td>
                    </tr>
                  <% end %>

                  <!-- Categories -->
                  <tr class="applications">
                    <td rowspan="5" class="category"><%= category %></td>
                    <td>Aportes</td>
                    <% (1..12).each do |month| %>
                      <td><%= money category_month_input(category, year, month) %></td>
                    <% end %>
                    <td><%= money category_year_input(category, year) %></td>
                    <td><%= money category_total_input(category, year) %></td>
                  </tr>

                  <tr class="applications">
                    <td>Retiradas</td>
                    <% (1..12).each do |month| %>
                      <td><%= money category_month_output(category, year, month) %></td>
                    <% end %>
                    <td><%= money category_year_output(category, year) %></td>
                    <td><%= money category_total_output(category, year) %></td>
                  </tr>

                  <tr class="balance">
                    <td>Saldo</td>
                    <% (1..12).each do |month| %>
                      <td><%= money category_month_balance(category, year, month) %></td>
                    <% end %>
                    <td><%= money category_year_balance(category, year) %></td>
                    <td></td>
                  </tr>

                  <tr class="profitability">
                    <td>Rentabilidade</td>
                    <% (1..12).each do |month| %>
                      <td><%= percent category_month_profitability(category, year, month) %></td>
                    <% end %>
                    <td><%= percent category_year_profitability(category, year) %></td>
                    <td><%= percent category_total_profitability(category, year) %></td>
                  </tr>

                  <tr class="weight">
                    <td>Peso</td>
                    <% (1..12).each do |month| %>
                      <td><%= percent category_month_weight(category, year, month), span: false %></td>
                    <% end %>
                    <td></td>
                    <td></td>
                  </tr>

                  <tr class="spacer">
                    <td colspan="16"></td>
                  </tr>
                <% end %>

                <!-- Totals -->
                <tr class="applications">
                  <td rowspan="4" class="total">Total</td>
                  <td>Aportes</td>
                  <% (1..12).each do |month| %>
                    <td><%= money total_month_input(year, month) %></td>
                  <% end %>
                  <td><%= money total_year_input(year) %></td>
                  <td><%= money total_input(year) %></td>
                </tr>

                <tr class="applications">
                  <td>Retiradas</td>
                  <% (1..12).each do |month| %>
                    <td><%= money total_month_output(year, month) %></td>
                  <% end %>
                  <td><%= money total_year_output(year) %></td>
                  <td><%= money total_output(year) %></td>
                </tr>

                <tr class="balance">
                  <td>Saldo</td>
                  <% (1..12).each do |month| %>
                    <td><%= money total_month_balance(year, month) %></td>
                  <% end %>
                  <td><%= money total_year_balance(year) %></td>
                  <td></td>
                </tr>

                <tr class="profitability">
                  <td>Rentabilidade</td>
                  <% (1..12).each do |month| %>
                    <td><%= percent total_month_profitability(year, month) %></td>
                  <% end %>
                  <td><%= percent total_year_profitability(year) %></td>
                  <td><%= percent total_profitability(year) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
